.hidden {
  display: none;
}

.error {
  color: #cd212a;
  font-weight: bold;
  font-size: 1.2em;
}

body {
  background-color: #008c45;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}

.container {
  margin-top: 1em;
  background-color: #f4f9ff;
  padding: 2em;
  padding-bottom: 3em;
}

nav {
  padding: 1em;
  background-color: #cd212a;
}

h1 {
  position: absolute;
  left: 25px;
  color: #f4f9ff;
}

.nav-link {
  color: #f4f9ff;
}

.nav-link:hover {
  color: #797979;
}

h2,
h3 {
  text-align: center;
}

#size {
  width: 40%;
  text-align: center;
  margin: auto;
  margin-bottom: 1em;
}

p {
  text-align: center;
  font-weight: 500;
}

#meats {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

h4,
h5 {
  margin-bottom: 0;
}

#other {
  text-align: center;
}

#order {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#results {
  margin-top: 1em;
}

img {
  margin: auto;
  display: block;
  margin-top: 3em;
  width: 390px;
}
